.layout {
  display: flex;
  height: 100%;
}

.side-nav-holder {
  width: 79px;
}

.main-container {
  width: 100vw;
  transition: 0.5s;
  overflow: auto;
}

.main-container-sideNav {
  margin-left: 185px;
  width: 100vw;
  transition: 0.5s;
  overflow: auto;
}

.route-container {
  margin-left: 25px;
  height: 89%;
}

/* @media screen and (max-width: 799px) {
  .main-container-sideNav {
    width: calc();
  }
} */
